<div class="d-flex flex-column justify-content-center align-items-center">

  <div class="text-center mt-4 mb-3">
    <a routerLink="/create" class="create-task-link">
      <i class="bi bi-arrow-left-circle"></i> Create New Task
    </a>
  </div>

  <div class="d-flex justify-content-center align-items-center gap-2 mb-3">
    <button
      class="btn"
      [ngClass]="displayTasksStatus.all ? 'btn-outline-secondary': 'btn-outline-primary'"
      (click)="displayAllTasks()"
    >All tasks</button>
    <button
      class="btn"
      [ngClass]="displayTasksStatus.incomplete ? 'btn-outline-secondary': 'btn-outline-primary'"
      (click)="displayIncompleteTasksOnly()">Incomplete</button>
    <button
      class="btn"
      [ngClass]="displayTasksStatus.complete ? 'btn-outline-secondary': 'btn-outline-primary'"
      (click)="displayCompleteTasksOnly()">Complete</button>
  </div>

  @if (displayedTasksList.length === 0) {
    No tasks to show
  } @else {
    @for (t of displayedTasksList; track t.id; let i = $index) {
      <app-taskboard-task
        (toggleCompleteClick)="toggleComplete(t.id)"
        (deleteTaskClick)="deleteTask(t.id)"
        [task]="t">
      </app-taskboard-task>
    }
  }
</div>
